@import "tailwindcss";

@layer base {
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
  }

  :root {
    --color-primary: 200, 200, 200;
    --color-secondary: 23, 106, 244;
    --color-background: 30, 30, 30;
    --color-background-secondary: 217 217 217;
  }
  body {
    background-color: rgb(var(--color-background));
  }
}
